<div class="card card-shadow border-0 mt-2">
        <!-- <div class="card-header border-0">
                <h5 class="font-weight-normal">Tanmay Ingole</h5>
        </div> -->
        <div class="card-body container">
                <div class="row">
                        <!-- <div class="row"  *ngIf="userDetails"> -->
                        <div class="col-3">
                                <div>
                                        <!-- <div class="profile-card border-0 card-shadow"> -->
                                        <div class="profile-card border-0">
                                                <div class="card-img-block">
                                                        <img class="card-img-top rounded-circle"
                                                                src="assets/images/Thumbnail.jpg">
                                                </div>
                                                <div class="card-body pt-0 text-center">
                                                        <h5 class="card-title">{{userDetails.fullName}}</h5>
                                                        <p class="card-text">Date of registration:&nbsp;02/03/2020</p>
                                                </div>
                                        </div>

                                </div>
                        </div>
                        <div class="col-9">
                                <div class="card-body alert alert-warning rounded">
                                        <ul class="list-group">
                                                <span class="mb-3">
                                                        <i class="fas fa-circle fa-xs"></i>&nbsp;&nbsp;Settlements will
                                                        be
                                                        possible
                                                        after completing and signing your
                                                        documents.
                                                </span>
                                                <span class="mb-3">
                                                        <i class="fas fa-circle fa-xs"></i>&nbsp;&nbsp;Complete and sign
                                                        the
                                                        questionnaire.
                                                </span>
                                                <span class="mb-2">
                                                        <i class="fas fa-circle fa-xs"></i>&nbsp;&nbsp;Complete and sign
                                                        the
                                                        Contract Agreement.
                                                </span>
                                        </ul>
                                </div>

                                <div class="mt-5">
                                        <form>
                                                <div class="row">
                                                        <label class="col-5 col-form-label">Eco Care
                                                                protection:</label>
                                                        <div class="col">
                                                                <span>
                                                                        <i
                                                                                class="fas fa-hashtag fa-sm text-my-pink"></i>&nbsp;&nbsp;111
                                                                        222 333
                                                                </span>
                                                        </div>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="row">
                                                        <label class="col-5 col-form-label">Email
                                                                status:</label>
                                                        <div class="col">
                                                                <span>
                                                                        <i
                                                                                class="fas fa-hashtag fa-sm text-my-pink"></i>&nbsp;&nbsp;111
                                                                        222 333
                                                                </span>
                                                        </div>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="row">
                                                        <label class="col-5 col-form-label">Date of
                                                                registration:</label>
                                                        <div class="col">
                                                                <span>
                                                                        <i
                                                                                class="fas fa-hashtag fa-sm text-my-pink"></i>&nbsp;&nbsp;111
                                                                        222 333
                                                                </span>
                                                        </div>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="row">
                                                        <label class="col-5 col-form-label">General income in
                                                                ECOXPRESS:</label>
                                                        <div class="col">
                                                                <span>
                                                                        <i
                                                                                class="fas fa-hashtag fa-sm text-my-pink"></i>&nbsp;&nbsp;111
                                                                        222 333
                                                                </span>
                                                        </div>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="row">
                                                        <label class="col-5 col-form-label">Current account
                                                                balance:</label>
                                                        <div class="col">
                                                                <span>
                                                                        <i
                                                                                class="fas fa-hashtag fa-sm text-my-pink"></i>&nbsp;&nbsp;111
                                                                        222 333
                                                                </span>
                                                        </div>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="row">
                                                        <label class="col-5 col-form-label">BOLT current income:</label>
                                                        <div class="col">
                                                                <span>
                                                                        <i
                                                                                class="fas fa-hashtag fa-sm text-my-pink"></i>&nbsp;&nbsp;111
                                                                        222 333
                                                                </span>
                                                        </div>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="row">
                                                        <label class="col-5 col-form-label">Current advances:</label>
                                                        <div class="col">
                                                                <span>
                                                                        <i
                                                                                class="fas fa-hashtag fa-sm text-my-pink"></i>&nbsp;&nbsp;111
                                                                        222 333
                                                                </span>
                                                        </div>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="row">
                                                        <label class="col-5 col-form-label">Current Cash:</label>
                                                        <div class="col">
                                                                <span>
                                                                        <i
                                                                                class="fas fa-hashtag fa-sm text-my-pink"></i>&nbsp;&nbsp;111
                                                                        222 333
                                                                </span>
                                                        </div>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="row">
                                                        <label class="col-5 col-form-label">ZUS statement:</label>
                                                        <div class="col">
                                                                <span>
                                                                        <i
                                                                                class="fas fa-hashtag fa-sm text-my-pink"></i>&nbsp;&nbsp;111
                                                                        222 333
                                                                </span>
                                                        </div>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="row">
                                                        <label class="col-5 col-form-label">Contract Agreement:</label>
                                                        <div class="col">
                                                                <span>
                                                                        <i
                                                                                class="fas fa-hashtag fa-sm text-my-pink"></i>&nbsp;&nbsp;111
                                                                        222 333
                                                                </span>
                                                        </div>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="row">
                                                        <label class="col-5 col-form-label">Lease agreement:</label>
                                                        <div class="col">
                                                                <span>
                                                                        <i
                                                                                class="fas fa-hashtag fa-sm text-my-pink"></i>&nbsp;&nbsp;111
                                                                        222 333
                                                                </span>
                                                        </div>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="row">
                                                        <label class="col-5 col-form-label">Change Password:</label>
                                                        <div class="col">
                                                                <span>
                                                                        <i
                                                                                class="fas fa-hashtag fa-sm text-my-pink"></i>&nbsp;&nbsp;111
                                                                        222 333
                                                                </span>
                                                        </div>
                                                </div>
                                        </form>
                                </div>
                        </div>
                </div>
        </div>
</div>