.line-height {
  line-height: 30px;
}

/*Profile Card */
.profile-card {
  margin-top: 16px;
}
.profile-card .card-img-block {
  width: 30%;
  margin: 0 auto;
  position: relative;
  top: -15px;
}
.profile-card .card-img-block img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}
.profile-card h5 {
  font-weight: 600;
}
.profile-card p {
  font-size: 14px;
  font-weight: 300;
}

