/* .navbar {
  height: 65px;
} */
.navbar-nav .dropdown-menu {
  box-shadow: 0 2px 10px rgba(8, 38, 76, 0.2);
  border: 1px solid #d5dee5;
}
.dropdown-item {
  padding: 9px 15px !important;
}
.dropdown-menu a:hover {
  color: #fff;
  background-color: #1f62ff;
}
.nav-link {
  font-size: 14px;
}
.nav-item .sign-in {
  border: 1px dashed;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(255, 255, 255, 0.185);
}

.btn-dark {
  background: #000000;
}
