<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <div class="form-inline my-2 my-lg-0  mr-5">
                        <ul class="navbar-nav mr-auto">
                                <!-- <li class="nav-item dropdown">
                                        <button class="btn btn-link text-decoration-none" id="navbarDropdown"
                                                role="button" data-toggle="dropdown" title="Language"><i
                                                        class="fas fa-globe text-dark"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                                <a class="dropdown-item">
                                                        <img src="assets/images/Poland-flag.png"
                                                                class="float-left w-25">
                                                        <div class="ml-5 mt-1 mb-1">
                                                                <b class="font-weight-normal">POLISH</b>&nbsp;
                                                        </div>
                                                </a>
                                                <div class="dropdown-divider m-0"></div>
                                                <a class="dropdown-item">
                                                        <img src="assets/images/England-flag.png"
                                                                class="float-left w-25">
                                                        <div class="ml-5 mt-1 mb-1">
                                                                <b class="font-weight-normal">ENGLISH</b>&nbsp;
                                                        </div>
                                                </a>
                                        </div>
                                </li> -->
                                <li class="nav-item">
                                        <a class="btn btn-sm rounded-0 mt-1 sign-in" *ngIf="!userService.isLoggedIn()"
                                                routerLink="sign-in"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;SIGN
                                                IN</a>
                                </li>
                                <li class="nav-item">
                                        <a class="btn rounded-0 btn-sm mt-1 ml-3 sign-in"
                                                *ngIf="!userService.isLoggedIn()" routerLink="sign-up"><i
                                                        class="fas fa-user"></i>&nbsp;&nbsp;SIGN UP</a>
                                </li>
                                <li class="nav-item pr-0">
                                        <a class="btn btn-dark border-0 rounded-0 btn-sm mt-1"
                                                *ngIf="userService.isLoggedIn()" routerLink="sign-in"
                                                (click)="onLogout()"><i
                                                        class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;LOGOUT</a>
                                </li>
                        </ul>
                </div>
        </div>
</nav>
<router-outlet></router-outlet>