<div class="card card-shadow border-0 mt-2">
        <div class="card-header border-0">
                <h5 class="font-weight-normal">Documents</h5>
        </div>
        <div class="card-body">
                <div class="upload-btn-wrapper btn-group float-right mr-4" role="group">
                        <!-- <span class="card-text float-left">No documents available.</span> -->
                        <button class="btn btn-success btn-sm"><i class="fas fa-upload"></i>&nbsp;Upload a
                                file</button>
                        <input type="file">
                        <button class="btn btn-light btn-sm" title="Click to Attach Document"
                                type="submit">Attach</button>
                </div>
        </div>
</div>